.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    font-size: 2.5rem;
    aspect-ratio: 1 / 1;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.btn.active{
    background-color: darkseagreen;

}

.btn.inactive{
    opacity: .3;

}
.btn:hover:not(:disabled), .btn:focus:not(:disabled){
    background-color: cyan;
}